{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en" class="layout-wide customizer-hide" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password | Retail POS</title>
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
</head>
<body>
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6 mx-4">
            <div class="card p-sm-7 p-2">
                <div class="card-body mt-1">
                    <h4 class="mb-1">Reset Password 🔒</h4>
                    <p class="mb-5">Please enter your new password below.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mb-3 mt-4">
                            <button class="btn btn-primary d-grid w-100" type="submit">Set New Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>