{% load static %}
<!doctype html>
<html lang="en" class="layout-wide customizer-hide" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check Your Email | Retail POS</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts & Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/iconify-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
  </head>

  <body>
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-6 mx-4">
        <div class="card p-sm-7 p-2">
          <div class="card-body mt-1">
            <h4 class="mb-1">Check your email ✉️</h4>
            <p class="mb-5">
              We've sent an email with instructions to reset your password. If an account exists with the email you entered, you will receive it shortly.
            </p>

            <div class="d-grid gap-2">
                <a class="btn btn-primary w-100" href="{% url 'users:login' %}">
                    Skip now
                </a>
            </div>

            <p class="text-center mt-4 mb-0">
              Didn't receive the email?
              <a href="{% url 'users:password_reset' %}">Resend</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Core JS -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  </body>
</html>